@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --white: #FFFFFB;
    --pickle: #768753;
    --gray: #BEBEBE;
    --grass: #A2B47B;
    --cocoa: #38302E;
    --orange: #E5A443;
    --pine: #4D6753;
    --laurel: #cad1c9;
    --tea: #d0d9ba;
    --snow-drift: #edefea;
    --olive: #ccd2bf;
    --tusk: #e5e9da;
    --taupe: #5f5956;
    --green-mist: #ecf0e1;
    --sage: #91a190;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}